<!DOCTYPE html>
<html>
  <head>
    <title>Predict WC 2018</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'css/fifa.css') }}" >
  </head>
  <body>
    <h1 style="color:white;font-family:courier;"> Place Your Predictions</h1>
 <style>
table{
    padding: .5cm;
    border: none;
}

th, td {
    border: 1px solid;
    color: white;
}
</style>
 <table class="table1" frame="box">
  <tr><td><input type="button"  value="RUSSIA" /></td></tr>
  <tr><td><input type="button"  value="SAUDI ARABIA" /></td></tr>
  <tr><td><input type="button"  value="EGYPT" /></td></tr>
  <tr><td><input type="button"  value="URUGUAY" /></td></tr>
  </table>

<table class="table2" frame="box">
  <tr><td><input type="button"  value="FRANCE" /></td></tr>
  <tr><td><input type="button"  value="AUSTRALIA" /></td></tr>
  <tr><td><input type="button"  value="PERU" /></td></tr>
  <tr><td><input type="button"  value="DENMARK" /></td></tr>
  </table>

<table class="table3" frame="box">
  <tr><td><input type="button"  value="BRAZIL" /></td></tr>
  <tr><td><input type="button"  value="SWITZERLAND" /></td></tr>
  <tr><td><input type="button"  value="COSTARICA" /></td></tr>
  <tr><td><input type="button"  value="SERBIA" /></td></tr>
  </table>

<table class="table4" frame="box">
  <tr><td><input type="button"  value="BELGIUM" /></td></tr>
  <tr><td><input type="button"  value="PANAMA" /></td></tr>
  <tr><td><input type="button"  value="TUNISIA" /></td></tr>
  <tr><td><input type="button"  value="ENGLAND" /></td></tr>
  </table>

<table class="table5" frame="box">
  <tr><td><input type="button"  value="PORTUGAL" /></td></tr>
  <tr><td><input type="button"  value="SPAIN"/></td></tr>
  <tr><td><input type="button"  value="MOROCCO" /></td></tr>
  <tr><td><input type="button"  value="IRAN" /></td></tr>
  </table>

<table class="table6" frame="box">
  <tr><td><input type="button"  value="ARGENTINA" /></td></tr>
  <tr><td><input type="button"  value="ICELAND" /> </td></tr>
  <tr><td><input type="button"  value="CROATIA" /> </td></tr>
  <tr><td><input type="button"  value="NIGERIA" /> </td></tr>
  </table>

<table class="table7" frame="box"> 
  <tr><td><input type="button"  value="GERMANY" /></td></tr>
  <tr><td><input type="button"  value="MEXICO" /></td></tr>
  <tr><td><input type="button"  value="SWEDEN" /></td></tr>
  <tr><td><input type="button"  value="KOREA REPUBLIC" /></td></tr>
  </table>

<table class="table8" frame="box">
  <tr><td><input type="button"  value="POLAND" /></td></tr>
  <tr><td><input type="button"  value="SENEGAL" /></td></tr>
  <tr><td><input type="button"  value="COLOMBIA" /></td></tr>
  <tr><td><input type="button"  value="JAPAN" /></td></tr>
  </table>
 </body>
 </html>
