<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

 <link href="assets/css/toolkit-inverse.css" rel="stylesheet">


      <link href="assets/css/docs.css" rel="stylesheet">

    <link href="assets/css/application.css" rel="stylesheet">
    <style>
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }

      h2 {
        .pos-a { position: absolute !important; }
      }

      select {
    color: #9e9e9e;
    position:absolute;
    left:165px;
}
option:not(:first-of-type) {
    color: black;
}
.myiam {
   font-size: 20px;
   color: black;
}

.ribbon {
   position: absolute;
   top: 0px;
   right: 0px;
   width: 50%;
}

.logoutLblPos{

   position:fixed;
   right:10px;
   top:5px;
}



    </style>
  </head>



<body class="with-top-navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid container-fluid-spacious">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-brand-emphasized" href="index.html">
          <span class="icon icon-leaf navbar-brand-icon"></span>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li >
            <a href="index.html">Access request</a>
          </li>
          <li>
            <a href="jirastatus.html">JIRA status</a>
          </li>
               <li>
            <a href="knowledge.html">Knowledge base</a>
          </li>
          <li >
            <a href="overview.html">Overview</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="font-size:50px; color:#0fad00">Success !!!!</h2>
        <img src="images/thumbs.gif">
        <h3>Dear User,</h3>
        <p style="font-size:20px;color:white;"><marquee scrollamount="10">JIRA created and the request has been sent to Manager for approval. Please follow-up with your Manager for approval</marquee></p>
        <a href="index.html" class="btn btn-success">Go to Overivew</a>
    <br><br>
        </div>
        
    </div>
</div>
</body>
</html>
