
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'css/base.css') }}" >
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'css/bootstrap.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'css/bootstrap-grid.css') }}" >
  </head>
  <body>
    <nav class="navbar navbar-default">
 <div class="container">
    <div class="navbar navbar-header">
      <a class="navbar-brand" href="http://18.188.78.12/index"><h1>Home</h1></a>
      <a class="navbar-brand" href="http://18.188.78.12/index"><h1>Listen</h1></a>
      <a class="navbar-brand" href="http://18.188.78.12/artists"><h1>Artists</h1></a>
    </div>
  </div>
   </nav>
   <div class="container">
     <li><a href="http://18.188.78.12/vivek">VIVEK</a> </li>
   </div>
  </body>
</html>
