<!DOCTYPE html>
<html>
  <head>
    <title>Know Your Artists</title>
    <link rel="stylesheet" href= "../static/css/base.css" >
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
  </head>
  <body>

    <nav class="navbar navbar-default">
 <div class="container">
    <div class="navbar navbar-header">
      <a class="navbar-brand" href="http://18.188.78.12/index"><h1>Home</h1></a>
      <a class="navbar-brand" href="http://18.188.78.12/index"><h1>Listen</h1></a>
      <a class="navbar-brand" href="http://18.188.78.12/index"><h1>Artists</h1></a>
    </div>
 </div>
   </nav>

      <div class="know">
     <h1>Me?</h1>
     <p>Vivek Unni aka Unnibraw!</p><p> Vivek was born and bought up in Kannur, Kerala in India. He's a born artist.</p>
   <img id='img_know' src="../static/images/vivek.jpg" alt="Image not found"/>
   </div>
</body>
</html>
