<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

 <link href= "{{ url_for('static', filename = '/assets/css/toolkit-inverse.css') }}" rel="stylesheet">


      <link href= "{{ url_for('static', filename = '/assets/css/docs.css') }}" rel="stylesheet">

    <link href= "{{ url_for('static', filename = '/assets/css/application.css') }}" rel="stylesheet">
    <style>
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }

      h2 {
        .pos-a { position: absolute !important; }
      }
      h1 { font-size: 40px; }

  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }

    </style>
  </head>
<body class="with-top-navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid container-fluid-spacious">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-brand-emphasized" href="../index.html">
          <span class="icon icon-leaf navbar-brand-icon"></span>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li >
            <a href="../index.html">Access request</a>
          </li>
          <li>
            <a href="http://10.200.6.167/cgi-bin/dashboard_access.py">JIRA status</a>
          </li>
               <li>
            <a href="../knowledge.html">Knowledge base</a>
          </li>
          <li >
            <a href="../overview.html">Overview</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<article>
<br>
<br>
<br>
<br>
    <h1>Coming Soon!!</h1>
    <div>
    </div>
</article>
</body>
</html>
